/* 이용 가이드 */
.guide {
  padding: var(--page-gutter);
}

.guide__inner {
  position: relative;
  padding: 50px var(--inner-x) 80px;
  background-color: var(--color-bg-white);
  border-radius: 6px;
}

/* 페이지 헤더 */
.guide-head {
  margin-bottom: 54px;
  color: var(--color-text-main);
}

.guide-head__title {
  margin-bottom: 30px;
}

.guide-head__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
}

/* 스텝 레이아웃 */
.guide-layout {
  display: flex;
  flex-direction: column;
  gap: 0;
}

/* 단계 블록 */
.guide-steps {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.guide-step {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.guide-step__media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 624px;
  height: 300px;
  border: 1px solid var(--color-bg-line);
  border-radius: 6px;
  overflow: hidden;
  background: var(--color-bg-gray);
}

.guide-step__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.guide-step__media.guide-step__media--brand {
  background: var(--color-bg-white);
}
.guide-step__media.guide-step__media--brand img {
  width: unset;
  height: unset;
  max-width: 230px;
  object-fit: contain;
}

.guide-step__body {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.guide-step__num {
  flex-shrink: 0;
  width: 32px; 
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-theme-primary);
  border-radius: 50%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: var(--color-text-white);
}

.guide-step__content {
  flex: 1;
}

.guide-step__content .c-btn {
  margin-top: 30px;
  padding-inline: 40px;
}

/* 단계 제목 */
.guide-step__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: var(--color-text-main);
  margin-bottom: 6px;
}

.guide-step__title:last-child {
  margin-bottom: 0;
}

/* 단계 보조 */
.guide-step__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-text-main);
  margin: 0;
}

/* 단계 여러 줄 */
.guide-step__lines {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: var(--color-text-main);
}

.guide-step__lines p {
  margin-bottom: 4px;
}

.guide-step__lines p:last-child {
  margin-bottom: 0;
}

/* 사용처 */
.guide-use {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 72px 30px;
}
.guide-use__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.guide-use__item .c-btn {
  margin-top: auto;
}
.guide-use__thumb {
  max-width: 184px;
}
.guide-use__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.guide-use__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  text-align: center;
}
.guide-use__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}
.guide-use__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 1200px) {
  .guide-step {
    gap: 16px;
  }
  .guide-step__content .c-btn {
    margin-top: 16px;
  }

  .guide-step__media {
    max-width: 500px;
  }
}

@media (max-width: 756px) {
  .guide__inner {
    padding: 20px var(--inner-x) 30px;
    border-radius: 4px;
  }

  .guide-head {
    margin-bottom: 46px;
  }

  .guide-head__title {
    margin-bottom: 26px;
  }

  .guide-head__subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .guide-steps {
    gap: 26px;
  }

  .guide-step {
    flex-direction: column;
  }

  .guide-step__media {
    width: 100%;
    max-width: unset;
    height: 200px;
    border-radius: 4px;
  }

  .guide-step__body {
    gap: 6px;
  }

  .guide-step__num {
    font-size: 16px;
  }

  .guide-step__content .c-btn {
    margin-top: 26px;
    padding-inline: 34px;
  }

  .guide-step__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 4px;
  }

  .guide-step__desc {
    font-size: 18px;
    line-height: 26px;
  }

  .guide-step__lines {
    font-size: 20px;
    line-height: 28px;
  }

  .guide-step__lines p {
    margin-bottom: 4px;
  }

  .guide-use {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 24px;
  }
  .guide-use__item {
    gap: 16px;
  }
  .guide-use__title {
    font-size: 20px;
    line-height: 28px;
  }
  .guide-use__desc {
    font-size: 18px;
    line-height: 26px;
  }
}
