/* 회원가입 */
.signup {
  padding: var(--page-gutter);
}

.signup__inner {
  position: relative;
  padding: 50px var(--inner-x) 80px;
  background-color: var(--color-bg-white);
  border-radius: 6px;
}

/* 약관동의 */
.signup-agree__steps {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
}

.signup-agree__step-title {
  flex-shrink: 0;
}

.signup-agree__step-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 24px;
}

.signup-agree__step-item {
  color: var(--color-gray-300);
}

/* 단계 화살표 */
.signup-agree__step-item:not(:first-child)::before {
  padding-inline: 10px;
  content: '\00a0>\00a0';
  color: inherit;
}

.signup-agree__step-item.is-current {
  color: var(--color-theme-primary);
  font-weight: 700;
}

.signup-agree__block {
  margin-bottom: 40px;
}

/* 약관 제목 행 */
.signup-agree__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-bg-line);
}

.signup-agree__title {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-text-main);
  flex: 1;
}

/* 체크박스 아이콘 */
.signup-agree__head .signup-agree__check-icon,
.signup-agree__all-label .signup-agree__check-icon {
  flex-shrink: 0;
  cursor: pointer;
}

.signup-agree__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.signup-agree__check-icon {
  display: block;
  width: 24px;
  height: 24px;
  background: var(--icon-checkbox-disabled);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.15s;
}

.signup-agree__head:has(.signup-agree__input:checked) .signup-agree__check-icon,
.signup-agree__all-label:has(.signup-agree__input:checked) .signup-agree__check-icon {
  background: var(--icon-checkbox-checked);
}

/* 약관 본문 */
.signup-agree__content {
  padding: 30px;
  background-color: var(--color-bg-white);
  border: 1px solid var(--color-bg-line);
  border-radius: 6px;
  font-size: 20px;
  line-height: 30px;
}

.signup-agree__content p {
  margin-bottom: 10px;
}

.signup-agree__content p:last-child {
  margin-bottom: 0;
}

.signup-agree__all {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  margin-top: 20px;
  padding: 0 20px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-bg-line);
  border-radius: 6px;
}

.signup-agree__all:has(input:checked) {
  background-color: var(--color-theme-sub-1);
  border-color: var(--color-theme-primary);
}

.signup-agree__all-label {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.signup-agree__all-text {
  flex: 1;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--color-text-main);
  margin: 0;
}

/* 버튼 */
.signup-agree__actions {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
  justify-content: center;
}

.signup-agree__actions .c-btn {
  flex: 1;
}

/* 본인인증·정보입력 */
.signup-section {
  max-width: 860px;
  margin: 0 auto;
}

.signup-section__head {
  margin-bottom: 40px;
}

.signup-section__title {
  padding-bottom: 10px;
  border-bottom: 1px solid  var(--color-bg-line);
}

.signup-section__desc {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}

.signup-section__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.signup-section__form + .signup-section__form {
  margin-top: 40px;
  padding-block: 40px;
  border-top: 1px solid var(--color-bg-line);
  border-bottom: 1px solid var(--color-bg-line);
}

.signup-section__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}

.signup-section__actions .c-btn {
  flex: 1;
}

/* 가입완료 */
.signup-complete {
  max-width: 860px;
  margin: 0 auto;
  padding-block: 40px;
  text-align: center;
}

.signup-complete__visual {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-complete__img {
  display: block;
  max-width: 100%;
  width: 240px;
  height: 240px;
  object-fit: contain;
}

.signup-complete__title {
  margin-top: 50px;
  font-weight: 700;
  font-size: 32px;
}

.signup-complete__desc {
  margin-top: 30px;
  font-size: 22px;
  line-height: 1.45;
}

.signup-complete__benefits {
  margin-top: 46px;
  text-align: center;
}

.signup-complete__list {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: var(--color-text-main);
  margin-bottom: 16px;
}

.signup-complete__list li {
  margin-bottom: 4px;
}

.signup-complete__list li:last-child {
  margin-bottom: 0;
}

.signup-complete__cta {
  margin-top: 24px;
  font-size: 24px;
  line-height: 34px;
  color: var(--color-text-main);
}

.signup-complete__actions {
  margin-top: 60px;
}

.signup-complete__actions .c-btn {
  min-width: 500px;
}

@media (max-width: 1200px) {
}

@media (max-width: 756px) {
  .signup__inner {
    padding: 20px var(--inner-x) 30px;
    border-radius: 4px;
  }

  .signup-agree__steps {
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 52px;
  }

  .signup-agree__step-list {
    font-size: 20px;
    row-gap: 4px;
  }

  .signup-agree__block {
    margin-bottom: 34px;
  }

  .signup-agree__head {
    gap: 8px;
    margin-bottom: 18px;
    padding-bottom: 8px;
  }

  .signup-agree__title {
    font-size: 20px;
  }

  .signup-agree__content {
    padding: 26px;
    font-size: 18px;
    line-height: 26px;
    border-radius: 4px;
  }

  .signup-agree__content p {
    margin-bottom: 8px;
  }

  .signup-agree__all {
    margin-top: 18px;
    padding: 0 18px;
    border-radius: 4px;
  }

  .signup-agree__all-text {
    font-size: 18px;
  }

  .signup-agree__actions {
    gap: 16px;
    margin-top: 52px;
  }

  .signup-section__head {
    margin-bottom: 34px;
  }

  .signup-section__title {
    padding-bottom: 8px;
  }

  .signup-section__desc {
    margin-top: 18px;
    font-size: 18px;
    line-height: 26px;
  }

  .signup-section__form {
    gap: 26px;
  }

  .signup-section__form + .signup-section__form {
    margin-top: 34px;
    padding-block: 34px;
  }

  .signup-section__actions {
    gap: 16px;
    margin-top: 52px;
  }

  .signup-complete {
    padding-block: 34px;
  }

  .signup-complete__title {
    margin-top: 44px;
    font-size: 28px;
  }

  .signup-complete__desc {
    margin-top: 26px;
    font-size: 20px;
  }

  .signup-complete__benefits {
    margin-top: 40px;
  }

  .signup-complete__list {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .signup-complete__list li {
    margin-bottom: 4px;
  }

  .signup-complete__cta {
    margin-top: 22px;
    font-size: 20px;
    line-height: 30px;
  }

  .signup-complete__actions {
    margin-top: 52px;
  }

  .signup-complete__actions .c-btn {
    min-width: 0;
    width: 100%;
  }
}
