:root {
  /* ---------- 색상 (Theme) ---------- */
  --color-theme-primary: #3f92f6;
  --color-theme-sub-1: #ebf4fc;
  --color-theme-sub-2: #1e2a45;

  /* ---------- 색상 (Text) ---------- */
  --color-text-main: #2c2c2c;
  --color-text-white: #ffffff;

  /* ---------- 색상 (System) ---------- */
  --color-system-error: #ff3838;
  --color-system-white: #ffffff;

  /* ---------- 색상 (Palette / Gray) ---------- */
  --color-gray-100: #f5f5f5;
  --color-gray-200: #edeef0;
  --color-gray-300: #a2a2a3;
  --color-gray-400: #777777;
  --color-gray-500: #333333;

  /* ---------- 색상 (Background) ---------- */
  --color-bg-white: #ffffff;
  --color-bg-line: #dfdfdf;
  --color-bg-box: #dce3ec;

  /* Button */
  --color-btn-enabled: #3f92f6;
  --color-btn-disabled: #d0d7e0;

  --font-family-base: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  /* icon */
  --icon-plus: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><g clip-path="url(%23clip0_4620_2411)"><path d="M12 4V20" stroke="%232C2C2C" stroke-width="2" stroke-linejoin="round"/><path d="M4 12H20" stroke="%232C2C2C" stroke-width="2" stroke-linejoin="round"/></g><defs><clipPath id="clip0_4620_2411"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
  --icon-minus: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><g clip-path="url(%23clip0_4620_2412)"><path d="M4 12H20" stroke="%232C2C2C" stroke-width="2" stroke-linejoin="round"/></g><defs><clipPath id="clip0_4620_2412"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
  --icon-checkbox-disabled: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><g clip-path="url(%23clip0_4559_2209)"><path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" fill="%23D0D7E0" stroke="%23D0D7E0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.75 11.9999L10.58 14.8299L16.25 9.16992" fill="%23D0D7E0"/><path d="M7.75 11.9999L10.58 14.8299L16.25 9.16992" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_4559_2209"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
  --icon-checkbox-checked: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><g clip-path="url(%23clip0_2570_386)"><path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" fill="%233F92F6" stroke="%233F92F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.75 11.9999L10.58 14.8299L16.25 9.16992" fill="%233F92F6"/><path d="M7.75 11.9999L10.58 14.8299L16.25 9.16992" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_2570_386"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');

}
